version: '3'
services:
  apicallapp:
    image:
    networks:
      - mynetwork
    ports:
      - "80:8000"
    environment:
      - CALL_ME_HOST={{ '{{' }} call_me_host {{ '}}' }}
      - HOST_IP={{ '{{' }} host_ip {{ '}}' }}
    restart: unless-stopped
    hostname: apicallapp

networks:
  mynetwork:

