version: '3'
services:
  apicallapp:
    image:
    networks:
      - mynetwork
    ports:
      - "80:8000"
    environment:
      - CALL_ME_HOST=
      - HOST_IP=apicallapp
    restart: unless-stopped
    hostname: apicallapp

networks:
  mynetwork:

