name: "Configure Infrastructure"

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout the repo 
        uses: actions/checkout@v3
      
      - name: Upgrade AWS CLI version
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip" 
          unzip awscliv2.zip
          sudo ./aws/install --bin-dir /usr/local/bin --install-dir /usr/local/aws-cli --update
          which aws
          aws --version

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "us-east-1"

      - name: Install Ansible
        run: |
          sudo apt-get update
          sudo apt-get install ansible -y

      - name: Execute Ansible 
        run: |
          export KEY_NAME=$(aws cloudformation describe-stacks --stack-name api-infra --query "Stacks[0].Outputs[?OutputKey=='KeyNameOutput'].OutputValue" --output text)

          export DESCRIBE_KEY_PAIRS=$(aws ec2 describe-key-pairs --filters Name=key-name,Values=$KEY_NAME --query KeyPairs[*].KeyPairId --output text) 

          export ANSIBLE_HOST_KEY_CHECKING=False

          aws ssm get-parameter --name /ec2/keypair/$DESCRIBE_KEY_PAIRS --with-decryption --query Parameter.Value --output text > ~/.ssh/private.key

          chmod 600 ~/.ssh/private.key

          export ANSIBLE_PRIVATE_KEY_FILE=~/.ssh/private.key

          export ANSIBLE_USER=ec2-user

          export SSH_IP=$(aws cloudformation describe-stacks --stack-name api-infra --query "Stacks[0].Outputs[?OutputKey=='ElasticIP'].OutputValue" --output text)

          ansible-playbook -i infrastructure/api_call_role/dynamic_inventory.py infrastructure/api_call_playbook.yml --limit api

      # - name: test connect
      #   run: |
      #     ssh -i private_key.pem ec2-user@${SSH_IP}

      # - name: Debug SSH_IP value
      #   run: |
      #     echo "SSH_IP=${{ env.SSH_IP }}"
      #     echo "PRIVATE_KEY=${{ env.PRIVATE_KEY }}"

      # - name: test connect
      #   uses: appleboy/ssh-action@v0.1.3
      #   with:
      #     host: "${{ env.SSH_IP }}"
      #     username: ec2-user
      #     key: "${{ env.PRIVATE_KEY }}"
      #     script: |
      #       echo hi
